_site
.jekyll-cache
.cache/
pages/.DS_Store
pages/tags.md

# Obsidian
.obsidian/
.trash/
_notes/.obsidian
_notes/Public/.obsidian
_notes/Excalidraw/
assets/og/*.png
assets/og/*.svg
!assets/og/.gitkeep
_notes/**/*.webp