<section class="feed-section">
    {%- unless include.hide_heading -%}
    <h2 class="feed-heading">Notes</h2>
    {%- endunless -%}
    <ul class="feed-list">
    {%- include AssignPublicNotes.html -%}
    {% assign note_items = public_notes | sort: "date" | reverse %}
    {% for note_items in note_items %}
        {%- if note_items.feed == "show" -%}
            <li class="feed-item">
                <a href="{{ site.baseurl }}{{ note_items.url }}" class="feed-title">{{ note_items.title }}</a>
            </li>
        {%- endif -%}
    {%- endfor -%}
    </ul>
</section>
